<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">Edit pricing</h4>
</div>
<div class="form-horizontal">
	<div class="modal-body">
		<input type="hidden" name="eventId" value="<%= eventId %>" id="eventId" class="form-control">
		<table class="table table-striped">
			<thead>
				<tr>
					<td rowspan="2" style="vertical-align: middle">Country</td>
					<td colspan="2">
						<div class="input-group">
							<div class="input-group-addon">Men</div>
							<input type="text" class="form-control" id="" placeholder="Age">
						</div>
					</td>
					<td colspan="2">
						<div class="input-group">
							<div class="input-group-addon">Women</div>
							<input type="text" class="form-control" id="" placeholder="Age">
						</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">under</td>
					<td class="text-center">over</td>
					<td class="text-center">under</td>
					<td class="text-center">over</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="vertical-align: middle">Ukraine</td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
				</td>
				<tr>
					<td style="vertical-align: middle">USA</td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
				</td>
				<tr>
					<td style="vertical-align: middle">UK</td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
				</td>
				<tr>
					<td style="vertical-align: middle">China</td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
					<td><input type="text" name="" value="" class="form-control" placeholder="$"></td>
				</td>
			<tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default edit-event">Edit</button>
		<button type="button" class="btn" data-dismiss="modal">Cancel</button>
	</div>
</div>